body{
    margin: 0px;
    background-color: hsl(0, 0%, 0%);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 11%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{ /*This sets the color when you hover on the navigation bar*/
    background-color: hsl(38, 24%, 80%);
}
.navbar li{
    float: left; /*This puts the list to the left on the navigation bar*/
}
footer{
    color: white;
    text-align: center;
}

img {
    width: 350px;
    height: auto;
}
.home-text p{
    font-size: 20px;
    text-align: justify;
}
.home-text h2{
    font-size: 30px;
    text-align: center;
}

.about-me{
    margin: 20;
}

.about-me p{
    font-size: 13px;
    text-align: justify;
}

.home-content{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.home-text{
    flex: 1;
    text-align: left;
}
video{
    display: block;
    margin: 20px auto;
}
.video p{
    text-align: center;
}
.santa-monica-content{
    text-align: center;
}
.santa-monica-content p{
    font-size: 20px;
}
.malibu-content{
    text-align: center;
    padding: 10px;
}
.nyc-content{
    text-align: center;
}
.did-you-know{
    text-align: center;
}